/* ========================== Font ========================== */
@font-face {
    font-family: 'Gilroy-bold';
    src:  url('../font/Gilroy-SemiBold.ttf');
    font-family: 'Gilroy-extrabold';
    src: url('../font/Gilroy-SemiBold.ttf');
  }


/* ========================== Core ========================== */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.2s linear;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-weight: 700;
    font-family: 'Gilroy-extrabold', sans-serif;
}

body {
    color: black;
    background-color: #fff;
}

[class*="__container"] {
    max-width: 1296px; 
    margin: 0 auto;
}

ul li {
    list-style-type: none;
    text-decoration: none;
}

a {
    color: #000000;
    cursor: pointer;
}
/* ========================== Header ========================== */

header {
    color: black;
}

.contact__navigation {
    gap: 60px;
    display: flex;
    align-items: center;

}

.contact__header {
    padding: 20px 0px;
    display: flex;
    gap: 65px;
    align-items: center;

}

.contact__list {
    gap: 65px;
    display: flex;
    align-items: center;
}

.glass {
    gap: 8px;
    padding: 10px;
    color: #fff;
    display: flex;
    background: #00868A;
}

.social__navigation {
    
    display: flex;
}

.social__item {
    padding-left: 58px;
}

.line {
    height: 89px;
    opacity: 0.8;
    border: 1px solid #C4C4C4;
}

.logo {
    width: 189px;
}

.home__section {
    width: 100%;
    height: 691px;
    background-color:#4FBFA5;
}

.home__header {
   padding: 30px;
}

.home__list {
    gap: 65px;
    display: flex;
    align-items: center;
}

.home__link {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.record__app {
    width: 175px;
    height: 40px;
    padding: 9px 15px;
    color: #000000;
    background: #fff;
}


/* ========================== Home Content Container ========================== */

.home__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__text h1 {
    color: #fff;
    padding-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
}

.home__text p {
    color: #fff;
    font-weight: 700;
    line-height: 150%;
    padding-bottom: 40px;
}

.home__content button {
    width: 163px;
    height: 50px;
    background: #00868A;
}

.home__content button a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Gilroy', sans-serif;
}

/* ========================== Home Table Container ========================== */

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    text-align: center;
}

th {
    color: #fff;
    padding: 20px 0;
    font-size: 21px;
    line-height: 150%;
}

tr th:nth-child(1), tr th:nth-child(3) {
    background: #017d81;
}

tr th:nth-child(2) {
    background: #05664f;
}


.home__news {
    background: #fff;
}

.home__news__container {
    margin-top: 80px;
}

/* ========================== Innovation Content ========================== */

.innovation_content {
    display: flex;
    align-items: center;
}

.innovation_container {
    width: 526px;
    height: 580px;
    display: flex;
    background: #00868A;
    flex-direction: column;
}

.innovation_container h3 {
    margin-left: 40px;
}

.innovation_container h3 p, .innovation_btn {
    padding-left: 40px;
}

.text {
    padding-left: 40px;
}

.innovation_container h3 {
    width: 125px;
    margin-top: 44px;
    padding: 10px 15px;
    color: #fff;
    background: #4FBFA5;
}

.innovation_container p {
    padding-top: 30px;
    color: #fff;
    font-size: 30px;
    line-height: 150%;
}

.innovation_btn {
    padding-top: 30px;
    gap: 20px;
    display: flex;
    align-items: center;
}

.innovation_btn a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.innovation__images {
    padding-top: 53px;
}

/* ========================== Sertificate Container ========================== */

.sertificate_container {
    display: flex;
    display: inline-block;
    justify-content: space-between;
    padding-left: 135px;
}

.sertificate__text {
    display: flex;
    position: absolute;
    flex-direction: column;
}

.sertificate-images {
    position: relative;
}

.sertificate-images img {
    padding-top: 50px;
    padding-left: 310px;
}

.sertificate__text h3 {
    width: 186px;
    padding: 10px 10px;
    color: #fff;
    background: #4FBFA5;
}

.clinic-branches {
    padding-top: 30px;
    gap: 20px;
    display: flex;
    position: relative;
    align-items: center;
}

.clinic-branches span {
    color: #B3B3B3;
    font-size: 48px;
}

.clinic-branches p {
    color: #B3B3B3;
}

.clinic-branches-20 {
    z-index: 5;
}

.clinic-branches-20 span {
    color:#00868A;
    font-size: 96px;
}

.clinic-branches-20 p {
    color: #000000;
    font-size: 28px;
}

/* ========================== News Container ========================== */

.news__container {
    width: 100%;
    height: 504px;
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
}

.news__child-1 {
    width: 526px;
    display: flex;

    flex-direction: column;
    background-color: #4FBFA5;
}

.news__title {
    color: #fff;
    width: 101px;
    margin-left: 40px;
    padding: 9px 15px;
    margin-top: 40px;
    background: #00868A;
}

.news-text2, .news-text3 {
    padding-left: 40px;
    margin-top: 40px;
}

.pushti {
    margin-top: 30px;
    padding: 35px 40px;
    background: #00868A;
}

.news__container p {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}

.news__child-2 {
    width: 770px;
    padding-top: 35px;
    padding-left: 60px;
    background: #E6F3F4; 
}

.news__child-2 h3 {
    color: #000000;
    font-size: 24px;
}

 .news__child-paragraf {
    color: #000000 !important;
    padding-top: 25px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 150% !important;
 }

 /* ========================== Special Offers Container ========================== */

 .special__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
 }

.special__offers {
    width: 100%;
    height: 350px;
    background: #78dde4;
}

.special_title {
    color: #00868A;
    padding-top: 80px;
    padding-bottom: 60px;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.special__tariff {
    width: 306px;
    height: 343px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #00868A;
}

.special-img {
    position: absolute;
}

.cosmetelog {
    top: 30px;
    left: 30px;
    width: 148px;
    height: 40px;
    z-index: 5;
    padding: 9px 15px;
    position: relative;
    background: #4FBFA5;
}

.cosmetolog_btn {
    z-index: 3;
    margin-left: 30px;
    margin-bottom: 25px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.cosmetolog_btn a {
    color: #fff;
    font-size: 21px;
}

 /* ========================== Footer ========================== */

 footer {
    margin-top: 300px;
 }

 .footer__container {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
 }

 .footer-container {
    padding-top: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
 }

 .footer-container h3 {
   color: #000000;
   font-size: 30px;
 }

 .footer__list {
    gap: 15px;
    display: flex;
    flex-direction: column;
 }

 .telefon {
    color: #7f7f7f;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 150%;
 }

 .tel {
    
 }