/* ========================== Font ========================== */
@font-face {
    font-family: 'Gilroy-bold';
    src:  url('../font/Gilroy-SemiBold.ttf');
    font-family: 'Gilroy-extrabold';
    src: url('../font/Gilroy-SemiBold.ttf');
  }


/* ========================== Core ========================== */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.2s linear;
}

::root {
    --background-accent1: #4FBFA5;
    --background-accent2: #00868A;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-weight: 800;
    font-family: 'Gilroy-extrabold', sans-serif;
}

body {
    color: black;
    background-color: #fff;
}

[class*="__container"] {
    max-width: 1296px; 
    margin: 0 auto;
}

ul li {
    list-style-type: none;
    text-decoration: none;
}

a {
    color: #000000;
    cursor: pointer;
}
/* ========================== Header ========================== */

header {
    color: black;
}

.contact__navigation {
    gap: 60px;
    display: flex;
    align-items: center;

}

.contact__header {
    padding: 20px 0px;
    display: flex;
    gap: 65px;
    align-items: center;

}

.contact__list {
    gap: 65px;
    display: flex;
    align-items: center;
}

.glass {
    gap: 8px;
    padding: 10px;
    color: #fff;
    display: flex;
    background: #00868A;
}

.social__navigation {
    
    display: flex;
}

.social__item {
    padding-left: 58px;
}

.line {
    width: 90px;
    opacity: 0.5;
    border: 1px solid #C4C4C4;
    
}

.logo {
    width: 189px;
}




.home__section {
    width: 100%;
    height: 700px;
    background-color:#4FBFA5;
}


.home__header {
   padding: 30px;
}

.home__list {
    gap: 65px;
    display: flex;
    align-items: center;
}

.home__link {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.record__app {
    width: 175px;
    height: 40px;
    padding: 9px 15px;
    color: #000000;
    background: #fff;
}


/* ========================== Home Content Container ========================== */

.home__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__text h1 {
    color: #fff;
    padding-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
}

.home__text p {
    color: #fff;
    font-weight: 700;
    line-height: 150%;
    padding-bottom: 40px;
}

.home__content button {
    width: 163px;
    height: 50px;
    background: #00868A;
}

.home__content button a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Gilroy', sans-serif;
}

/* ========================== Home Table Container ========================== */

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    text-align: center;
}

th {
    color: #fff;
    padding: 20px 0;
    font-size: 21px;
    line-height: 150%;
}

tr th:nth-child(1), tr th:nth-child(3) {
    background: #017d81;
}

tr th:nth-child(2) {
    background: #05664f;
}


.home__news {
    background: #fff;
}

.home__news__container {
    margin-top: 80px;
}

/* ========================== Innovation Content ========================== */

.innovation_content {
    display: flex;
    align-items: center;
}

.innovation_container {
    width: 526px;
    height: 580px;
    display: flex;
    background: #00868A;
    flex-direction: column;
}

.innovation_container h3 {
    margin-left: 40px;
}

.innovation_container h3, p, .innovation_btn {
    padding-left: 40px;
}

.innovation_container h3 {
    width: 125px;
    margin-top: 44px;
    padding: 10px 15px;
    color: #fff;
    background: #4FBFA5;
}

.innovation_container p {
    padding-top: 30px;
    color: #fff;
    font-size: 30px;
    line-height: 150%;
}

.innovation_btn {
    padding-top: 30px;
    gap: 20px;
    display: flex;
    align-items: center;
}

.innovation_btn a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.innovation__images {
    padding-top: 53px;
}

.sertificate_container {
    display: flex;
    display: inline-block;
    justify-content: space-between;
    padding-left: 135px;
}

.sertificate__text {
    display: flex;
    position: absolute;
    flex-direction: column;
}

.sertificate-images {
    position: relative;
}

.sertificate-images img {
    padding-top: 50px;
    padding-left: 310px;
}

.sertificate__text h3 {
    width: 186px;
    padding: 10px 10px;
    color: #fff;
    background: #4FBFA5;
}

.clinic-branches {
    padding-top: 30px;
    display: flex;
    position: relative;
    align-items: center;
}

.clinic-branches span {
    color: #B3B3B3;
    font-size: 48px;
}

.clinic-branches p {
    color: #B3B3B3;
}

.clinic-branches-20 {
    z-index: 5;
}

.clinic-branches-20 span {
    color:#00868A;
    font-size: 96px;
}

.clinic-branches-20 p {
    color: #000000;
    font-size: 28px;
}